.cover-image{
    filter: brightness(50%);
}
.cover-button, .bg-registration {
    background-color: #289bde;
    color: white;
}
.section-margin{
    margin-top: 120px;
}
.price{
    color: #289bde;
}
.reg-button{
    color: #289bde;
}